/*====== MAIN STYLE ======*/

body {
	background-image: url('/img/bg-home.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;
}

.jumbotron {    background-color: transparent;
    border-radius: .3rem;
    margin-top: 16%;
}